<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s56485_flowersidentification">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.S56485_FlowersIdentification">
        <activity
            android:name=".rafflesia"
            android:exported="false"
            android:parentActivityName=".typesflowers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".typesflowers"/>
        </activity>
        <activity
            android:name=".daisy"
            android:exported="false"
            android:parentActivityName=".typesflowers">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".typesflowers"/>
        </activity>
        <activity
            android:name=".tulip"
            android:exported="false"
            android:parentActivityName=".typesflowers">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".typesflowers"/>
        </activity>
        <activity
            android:name=".hibiscus"
            android:exported="false"
            android:parentActivityName=".typesflowers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".typesflowers"/>
        </activity>
        <activity
            android:name=".Rose"
            android:exported="false"
            android:parentActivityName=".typesflowers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".typesflowers"/>
        </activity>
        <activity
            android:name=".sunflower"
            android:exported="false"
            android:parentActivityName=".typesflowers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".typesflowers"/>
        </activity>
        <activity
            android:name=".typesflowers"
            android:exported="false"
            android:parentActivityName=".MenuPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPage"/>
        </activity>
        <activity
            android:name=".introduction"
            android:exported="false"
            android:parentActivityName=".MenuPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPage"/>
        </activity>
        <activity
            android:name=".MenuPage"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>